:root {
  --black: #414141;
  --white: rgb(240, 240, 240);
  --blue: #859baa;
}

html,
body {
  background: url("../images/dust_scratches.png") repeat;
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
}

.shade {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  background: white;
  pointer-events: none;
  transition: all 500ms;
}

.hidden {
  opacity: 0;
}

/* NAV */
nav {
  align-self: flex-start;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  position: absolute;
  right: 30px;
  top: 20px;
}

.nav__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  transition: all 50ms;
  padding: 10px;
  font-weight: 300;
}

.nav__link:hover {
  color: rgba(255, 255, 255, 1);
}

/* LANDING */

.landing {
  align-items: center;
  /* background: url("../images/background.png"); */
  background: url("https://res.cloudinary.com/drumit/image/upload/c_fit,f_auto,h_1053,q_100,w_1000/v1542925743/Portfolio/background.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
}

.greeting {
  align-self: center;
  justify-self: center;
  color: var(--white);
  font-family: sans-serif;
  text-align: center;
}

.greeting h1,
.greeting p {
  font-weight: 300;
  margin: 10px 0;
  padding: 0;
}

.greeting h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

/* CURRENT */

.current {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: var(--black);
  margin: 0;
  padding: 50px 50px 1px 50px;
  width: 100%;
}

.current .section__header {
  margin: 0;
}

.current__highlight {
  display: grid;
  grid-gap: 30px;
  margin: 100px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
  padding: 0px 0px 20px 0;
}

.highlight__name--narrow {
  display: none;
}

.current__highlight:last-child {
  margin-bottom: 50px;
  border-bottom: none;
}

.current__highlight > img {
  border: 2px solid var(--black);
  width: 100%;
}

.current__highlight--left {
  grid-template-columns: 400px 1fr;
}

.current__highlight--right {
  grid-template-columns: 1fr 400px;
}

.current__highlight--right > img {
  justify-self: end;
  width: 100%;
}

.highlight__name {
  margin: 0;
}

.current__highlight__text {
  margin: 20px 0;
}

/* PROJECTS */

.projects__container {
  position: relative;
  z-index: -1;
}

.section__header {
  color: var(--black);
  margin: 25px 0 -25px 0;
  text-align: center;
  /* text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); */
}

.section__summary {
  color: var(--black);
  margin: 0 auto;
  width: 90%;
  text-align: center;
  margin-bottom: 50px;
}

.project__summary {
  color: var(--black);
  margin: 50px auto;
  width: 90%;
  text-align: center;
}

.section__subtitle {
  color: var(--black);
  margin: 25px 0 -25px 0;
  text-align: center;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.projects {
  background: var(--blue);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
  padding: 50px 25px;
  visibility: hidden;
}

.projects > * {
  visibility: visible;
}

.projects:hover .project {
  opacity: 0.7;
}

.projects:hover .project:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  opacity: 1;
  transition-delay: 0ms;
}

.project {
  background: var(--white);
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 350px;
  text-decoration: none;
  transition: all 200ms ease-in-out 50ms;
}

a {
  color: var(--black);
}

.project__thumb {
  border-radius: 3px;
  margin-top: 10px;
  margin-left: 10px;
  height: 220px;
  width: 330px;
  object-fit: cover;
}

.project__description {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.project__description > div {
  width: 80%;
}

.project__description__title,
.project__description__text {
  font-weight: 300;
  padding-left: 10px;
  transition: all 250ms;
  z-index: 1;
}

.project__description__title {
  font-size: 1.1rem;
  margin: 0 0 5px 0;
  padding-left: 10px;
}

.project__description__text {
  color: var(--black);
  font-size: 0.9rem;
  margin: 0 0;
}

.fa-chevron-right {
  color: var(--black);
  font-size: 2.5rem;
  /* margin-right: 190px; */
  margin-right: 50px;
  opacity: 0;
  transition: all 250ms;
}

.chevron {
  color: var(--black);
  height: 2.5rem;
  margin-right: 50px;
  opacity: 0;
  transition: all 250ms;
}

.project:hover .fa-chevron-right {
  margin-right: 10px;
  opacity: 0.2;
}

.project:hover .chevron {
  margin-right: 10px;
  opacity: 0.2;
}

@media (max-width: 775px) {
  .highlight__name--narrow {
    display: block;
    grid-row: 1;
    margin-bottom: -15px;
  }
  .highlight__name {
    display: none;
  }
  .calendar__container {
    grid-row: 2;
    margin-bottom: -40px;
  }
  .current {
    padding: 10px 0 25px 0;
  }
  .current .section__header {
    margin: 0 0 20px 0;
  }
  .current__highlight {
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 95%;
    margin-bottom: 75px;
  }
  .current__highlight--left {
    grid-template-columns: 1fr;
  }

  .current__highlight--right {
    grid-template-columns: 1fr;
  }

  .current__highlight--right img {
    grid-row: 2;
  }

  .current__highlight > img {
    justify-self: center;
    width: 100%;
    margin-bottom: -30px;
  }

  .current__highlight > div {
    justify-self: center;
  }
}

@media (max-width: 700px) {
  header {
    justify-content: center;
  }
  .logo {
    display: none;
  }
  nav {
    margin: 0;
  }
}

@media (max-width: 380px) {
  nav {
    align-self: flex-start;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 0px;
    position: absolute;
    right: 10px;
    top: 10px;
    justify-items: end;
  }
  .nav__link {
    border-right: 1px solid white;
  }
  .projects {
    margin: 0 auto;
  }
  .project {
    background: var(--white);
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    text-decoration: none;
    transition: all 200ms ease-in-out 50ms;
    justify-self: center;
  }

  a {
    color: var(--black);
  }

  .project__thumb {
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 10px;
    /* height: 220px; */
    width: 275px;
    object-fit: cover;
  }
}
